/* import poppins font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",serif;
}

:root{
    /* dark theme color */
    --text-color: #edf3ff;
    --sub-heading-color:#97a7ca;
    --placeholder-color:#c3cdde;
    --primary-color:#101623;
    --secondary-color:#283045;
    --secondary-hover-color:#333e58;
    --scrollbar-color:#626a75;
}

body.light-theme{
    /* light theme color */
    --text-color: #090c13;
    --sub-heading-color: #7b8cae;
    --placeholder-color: #606982;
    --primary-color: #f3f7ff;
    --secondary-color: #dce6f9;
    --secondary-hover-color: #d2ddf2;
    --scrollbar-color: #a2aac2;
}
body{
    color:var(--text-color);
    background: var(--primary-color);
}

/* Heading section */

.container{
    padding: 40px 0 70px;
    margin:auto;
    max-width: 950px;
    width: 100%;
}

header .heading{
    font-size: 3rem;
    width: fit-content;
    background: linear-gradient(to right ,blue , purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .sub-heading{
 font-size: 2rem;
 color: var(--sub-heading-color);
 margin-top: -10px;
}

/* Suggestion list styling */

.suggestions{
 display: flex;
 gap: 20px;
 list-style: none;
 margin-top: 5rem;
 overflow-x: auto;
 scrollbar-width: none;
}

body.chat-active .container :where(header , .suggestions){
    display: none;
}
.suggestions .suggestions-item{
    width: 15rem;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.4s ease;
}
.suggestions .suggestions-item:hover{
 background: var(--secondary-hover-color);
}
.suggestions .suggestions-item .text{
    font-size: 1.15rem
}
.suggestions .suggestions-item span{
    color: blue;
    background-color: var(--primary-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}
.suggestions .suggestions-item:nth-child(2) span{
    color: yellow;
}
.suggestions .suggestions-item:nth-child(3) span{
    color: green;
}
.suggestions .suggestions-item:nth-child(4) span{
    color: rgb(41, 127, 207);
}

/* chats section */

.chat{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding-bottom: 100px;
    scroll-behavior:smooth;
}
.chat .msg{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat .bot-msg .logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 3px;
    border: 2px solid var(--secondary-hover-color);

}
.chat .bot-msg{
    margin: 10px 10px;
}
.chat .bot-msg .text{
    background: var(--secondary-hover-color);
   border-radius: 15px 15px 15px 2px;

}
.chat .msg .text{
    max-width: 75%;
    padding: 5px 17px;
    word-wrap: break-word;
}
.chat .user-msg{
    flex-direction: column;
    align-items: flex-end;
}
.chat .user-msg .text{
max-width: 70%;
border-radius: 15px 15px 2px 15px;
background: var(--secondary-color);
}


/* Prompt section  */

.prompt{
    position: fixed;
    left:0;
    bottom: 0;
    background-color: var(--primary-color);
    
    padding: 20px 0;
    width: 100%;
}
.prompt :where(.prompt,.prompt-wrapper,.prompt-form,.prompt-actions){
    display: flex;
    gap: 15px;
    height: 60px;
    align-items: center;
}
.prompt-wrapper .prompt-form{
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    margin-left: 20px;
    background: var(--secondary-color);
}
.prompt-form input{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: large;
    padding-left: 20px;
    color: var(--text-color);
}
.prompt-form .prompt-input::placeholder{
    color: var(--placeholder-color);
}
.prompt-wrapper button{
    height: 100%;
    width: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    flex-shrink: 0;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--secondary-color);
    transition: 0.5s ease;
}
.prompt-wrapper button:hover{
    background-color: var(--secondary-hover-color);
}
.prompt-form .prompt-actions{
    margin-right: 7px;
    gap: 4px;
}
.prompt-form .prompt-actions button{
 height: 50px;
 width: 50px;
}

/* the send prompt button will only be displayed when the input field contains a value(required attribute must in input feild) */
.prompt-form .prompt-input:valid + .prompt-actions #send-prompt-btn{
    display: block;
}
.prompt-form #send-prompt-btn{
background-color: #1d7efe;
display: none;
color: white;
}
.prompt-form #send-prompt-btn:hover{
    background-color: #026efc;
}

.prompt .disclaimer-text{
    text-align: center;
    padding: 20px 0 0 0;
    font-size: large;
    color: var(--placeholder-color);
}